:root {
    --primary-color: #ffdb00;
    --text-color: #282828;
    --hover-color-2: rgb(235, 48, 48);
    --bg-color: #ffdb00;
    --hover-color: #ec720e;
    --link-hover-color: #2f5acf;
    --text-color-2: #969696;
    --success-color: #4caf50;
}
