@import url("/src/assets/css/_variables.css");
/* ============================================= main  =============================================*/
/* ============================================= product  =============================================*/
.product {
    padding: 20px;
}
.images {
    display: flex;
    gap: 20px;
}
.images__list-wrapper {
    width: 15%;
}
.images__item {
    border: 1px solid var(--hover-color);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2px;
}

.images__item .images__img {
    transition: 0.5s;
}

.images__item:hover .images__img {
    transform: scale(1.05);
}

.images__main {
    flex: 1;
}

/* ++++++++++++++++++++++ right-box ++++++++++++++++++++++ */
.product__right-box {
}
.product__title {
    font-size: 2.6rem;
    font-weight: 600;
}
.product__trademark {
    margin-right: 30px;
}
.product-sale {
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.product-sale__header {
    background-color: var(--primary-color);
    padding: 5px 10px;
}

.product-sale__title {
    margin: 0;
    flex: 1;
}
.product-sale__body {
    padding: 5px 10px 10px;
}

/* -------- countdown -------- */
.countdown__box {
    border-radius: 5px;
}
.countdown__box strong {
    padding: 0;
    height: 50px;
    width: 50px;
    font-size: 1.6rem;
}

.card-desc__sold {
    width: 100%;
    height: 5px;
    background-color: var(--text-color-2);
    border-radius: 999px;
    overflow: hidden;
    position: relative;
}
.card-desc__sold::before {
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 999px;
    background-color: var(--hover-color-2);
}
.product-sale__sold::before {
    width: 70%;
}

/* -------- price -------- */
.product__price {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.product__price-desc span {
    color: var(--hover-color-2);
}
.card-desc__price {
    color: var(--hover-color-2);
    font-size: 2rem;
}
.card-desc__price-original {
    margin: 0;
}
.card-desc__price-original span:first-child {
    color: var(--text-color-2);
    text-decoration: line-through;
}
.card-desc__discount {
    background-color: var(--hover-color-2);
    color: #fff;
    padding: 2px 5px;
    border-radius: 999px;
}
/* -------- promotion -------- */
.product-promotion {
    border: 2px dashed #000;
    position: relative;
    margin-top: 30px;
}
.product-promotion__title {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 10px;
}
.product-promotion__title i {
    color: var(--hover-color);
    font-size: 1.8rem;
}
.product-promotion__list {
    margin: 0;
    padding: 20px 20px 20px 40px;
    list-style-type: disc;
}
/* -------- product discount -------- */
.product__discount {
    margin-top: 30px;
    overflow: auto;
}
.product-code__list {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    min-width: 400px;
    padding: 0;
    margin-bottom: 10px;
}
.product-code__item {
    position: relative;
    overflow: hidden;
}
.product-code__item p {
    color: var(--text-color);
    padding: 3px 7px;
    border-radius: 6px;
    border: 1px solid #000;
    font-size: 1.4rem;
}

.product-code__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #fff;
    border: 1px solid #000;
}

.product-code__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #fff;
    border: 1px solid #000;
}

/* -------- size,color -------- */
.product__size,
.product__color {
    margin: 20px 0 10px;
}
.list-size,
.list-color {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #000;
    cursor: pointer;
}
.list-size__item span {
    padding: 5px 9px;
    border: 1px solid currentColor;
    font-size: 1.4rem;
    transition: 0.2s;
}
.list-color__item {
    width: 50px;
    width: 50px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
}

.list-size__item:hover {
    color: var(--hover-color);
}
.list-size__item.active {
    color: var(--hover-color);
}
.list-color__item:hover {
    border: 1px solid var(--hover-color);
}
.list-color__item.active {
    border: 1px solid var(--hover-color);
}
.list-color__item img {
    transition: 0.2s;
}
.list-color__item:hover img {
    transform: scale(1.05);
}

/* -------- buy -------- */
.product__buy {
    margin-top: 20px;
}
.product__add-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.btn-add-cart {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.btn-buy {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hover-color);
    color: #fff;
    transition: 0.3s;
}
.btn-buy:hover {
    background-color: #ee8a37;
}
.product__buy-contact {
    text-align: center;
    margin-top: 5px;
}
.product__buy-contact a {
    color: var(--hover-color);
    font-weight: 600;
}
/* -------- benefit -------- */
.product__benefit {
    margin-top: 20px;
}
.benefit-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.benefit-item {
    display: flex;
    gap: 5px;
    font-size: 1.4rem;
}
/* ============================================= content  =============================================*/
.content {
    margin-top: 80px;
}

.nav-tabs {
    justify-content: center;
}

.nav-item {
    position: relative;
}
.nav-tabs .nav-link {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    border: 0;
}

.nav-tabs .nav-link::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 999px;
}

.nav-tabs .nav-link.active::after {
    width: 100%;
}

.tab-content {
    margin-top: 30px;
}

/* -------- content -------- */
/* ++++++++++++++++++++++ box ++++++++++++++++++++++ */
/* ============================================= block  =============================================*/
