@import url("./_variable.css");
/* ============================================= hero  =============================================*/
.hero {
    margin-top: 105px;
}
/* ============================================= Main  =============================================*/
/* ============================================= Category  =============================================*/
.category {
    margin-top: 40px;
}

.category__title {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    overflow: auto;
}

.category-item {
    min-width: 200px;
}
.category-item__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: hidden;
}
.category-item__img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
    z-index: 10;
}

.category-item__circle {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.5;
    transition: 0.3s;
}

.category-item:hover .category-item__circle {
    transform: scale(1.3);
    background-color: var(--bg-color);
}

.category-item__name {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
    white-space: nowrap;
}

.category-item__quantity {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 5px;
}

/* ============================================= banner  =============================================*/
.banner {
    margin-top: 80px;
}

.banner__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.banner__item {
    background-color: #555;
    overflow: hidden;
}

.banner__item-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.banner__item-4 {
    grid-column: 3/5;
}

.banner__item img {
    height: 100%;
    transition: 0.3s;
}

.banner__item img:hover {
    transform: scale(1.05, 1.05);
}

/* ============================================= collection =============================================*/
.collection {
    margin-top: 80px;
}
.collection__title {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.collection__list {
    margin-top: 30px;
}
.collection-item__thumbnail {
    position: relative;
}
.collection__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}
.collection__icon i {
    transition: 0.3s;
}
.collection__checkbox:checked + .collection__icon i {
    transform: rotate(-135deg) scale(1.3, 1.3);
}
.collection__icon::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: scale 1s infinite 0.2s;
}

.collection__icon-1-1 {
    top: 30%;
    left: 20%;
}
.collection__icon-1-2 {
    top: 45%;
    left: 38%;
}
.collection__icon-1-3 {
    top: 30%;
    left: 70%;
}

.collection__icon-2-1 {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.collection__icon-2-2 {
    top: 43%;
    left: 30%;
}

.collection__icon-3-1 {
    top: 30%;
    left: 20%;
}
.collection__icon-3-2 {
    top: 45%;
    left: 43%;
}
.collection__icon-3-3 {
    top: 33%;
    left: 73%;
}

@keyframes scale {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}
.collection__checkbox:checked + .collection__icon .collection-box.top {
    display: flex;
    transform: translate(-40%, -110%) scale(1);
    opacity: 0.99;
}

.collection__checkbox:checked + .collection__icon .collection-box.bottom {
    display: flex;
    bottom: 0;
    transform: translate(-40%, 110%) scale(1);
    opacity: 0.99;
}

.collection__checkbox:not(:checked) + .collection__icon .collection-box {
    opacity: 0;
}

.collection-box {
    position: absolute;
    line-height: 1.2;
    font-size: 1.4rem;
    z-index: 15;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    width: 250px;
}

.collection-box.top {
    top: 0;
    left: 0;
    transform: translate(-40%, -110%) scale(0.5, 0.5);
}

.collection-box.bottom {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    width: 250px;
    bottom: 0;
    left: 0;
    transform: translate(-40%, 110%) scale(0.5, 0.5);
    position: absolute;
    line-height: 1.2;
    font-size: 1.4rem;
    z-index: 100;
    transition: 0.3s;
}

.collection-box:hover .collection-box__name {
    color: var(--hover-color);
}
.collection-box__thumbnail {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.collection-box__name {
    color: var(--text-color);
}
.collection-box__price strong {
    color: var(--hover-color-2);
    font-weight: 600;
}

.collection-box__price span {
    color: var(--text-color-2);
    text-decoration: line-through;
}

.collection-item__bottom {
    text-align: center;
    margin-top: 20px;
}
.collection-item__name {
    font-weight: 600;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ============================================= introduce =============================================*/
.introduce {
    margin-top: 80px;
}
.introduce__content {
    padding-left: 50px;
}
.introduce__title {
    font-weight: 600;
    font-size: 3rem;
}
.introduce__desc {
    margin-top: 10px;
    font-weight: 400;
    font-style: italic;
}
.introduce__label {
    margin-top: 10px;
    font-size: 1.6rem;
}
.introduce__detail-list {
    list-style-type: disc;
    font-size: 1.6rem;
    padding-left: 50px;
    margin-bottom: 30px;
}

.introduce__icon-1-1 {
    top: 57%;
    left: 20%;
}

.introduce__icon-1-2 {
    top: 15%;
    left: 60%;
}
.introduce__icon-1-3 {
    top: 50%;
    left: 70%;
}

.introduce-box {
    max-width: 200px;
}

/* ============================================= special =============================================*/
.special {
    margin-top: 80px;
}
.special__wrapper {
    justify-content: center;
    align-items: center;
}
.special-item {
    position: relative;
    padding: 15px;
    perspective: 1000px;
}

.special-item__thumbnail {
    display: block;
}

.special-item__img-hover {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0;
    z-index: 25;
    transform: scale(0.8);
}

.special-item__thumbnail {
    transform: translateZ(-10px);
    transition: 0.5s;
}

.special-item:hover {
    z-index: 20;
}

.special-item:hover .special-item__thumbnail {
    transform: translateZ(-10px) rotateX(40deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 10px;
}

.special-item:hover .special-item__thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 23;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19, 0.8) 97%
    );
    opacity: 0.6;
}
.special-item__thumbnail::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: 0;
    z-index: 22;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(0, 0, 0, 0.5) 68%,
        rgba(0, 0, 0, 0.8) 97%
    );
    transition: 0.4s;
}

.special-item:hover .special-item__thumbnail::after {
    height: 100%;
    opacity: 0.6;
}

.special-item:hover .special-item__img-hover {
    transform: translateY(-15%) scale(0.8);
    opacity: 1;
}

/* ============================================= social-media =============================================*/
.social-media {
    margin-top: 80px;
}
.social-media__title {
    font-weight: 600;
    white-space: nowrap;
    font-size: 3rem;
    text-align: center;
}
.social-media__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.social-media__item {
    position: relative;
}
.social-media__icon {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    color: #000;
    opacity: 0;
    transition: 0.5s;
}
.social-media__item img {
    transition: 0.5s;
}
.social-media__item:hover img {
    transform: scale(0.9);
}

.social-media__item:hover .social-media__icon {
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* ============================================= blog =============================================*/
.blog {
    margin-top: 80px;
}
.card-blog__time {
    color: var(--text-color-2);
}
.card-blog__minute {
    margin-left: 10px;
}
.card-blog__title {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.card-blog__text {
    margin: 5px 0;
}
.card-blog__link {
    color: var(--text-color);
    transition: 0.3s;
}
.card-blog__link:hover {
    color: var(--hover-color);
}

/* ============================================= feedback =============================================*/
.feedback {
    margin-top: 80px;
}
/* -------- content -------- */
/* ++++++++++++++++++++++ box ++++++++++++++++++++++ */
/* ============================================= block  =============================================*/
