@import url("../css/_variable.css");

/* ============================================= General =============================================*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    height: 10000px;
}

button {
    border: none;
    outline: none;
  
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    transition: 0.3s;
    background-color: var(--hover-color);
}
ol, ul {
    list-style: none;
}
/* ============================================= header =============================================*/

header {
    position: relative;
}

.top-bar__wrapper {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--bg-color);
}

/* ============================================= top bar =============================================*/
.top-bar {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 50px;
}

/* ++++++++++++++++++++++ left box ++++++++++++++++++++++ */
.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
}
/* -------- logo -------- */
.header__logo {
    width: 150px;
    height: 100%;
}
.header__logo .logo {
    object-fit: cover;
    width: 100%;
}

/* -------- btn hệ thống cửa hàng -------- */
.top-bar__btn {
    border-radius: 999px;
    padding: 7px 10px;
    line-height: 1;
    font-size: 1.4rem;
    white-space: nowrap;
    border: none;
    background-color: #fff;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-bar__btn strong {
    display: block;
}

.top-bar__btn:hover {
    color: var(--bg-color);
     background-color: #f0f0f0;

}
/* ++++++++++++++++++++++ middle box ++++++++++++++++++++++ */
.middle-box {
    flex: 1;
    height: 40px;
}
.search-box {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    overflow: hidden;
    align-items: center;
    height: 100%;
    background-color: #fff;
}

.search-box__remove-icon {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.search-box__remove-icon:hover {
    color: var(--hover-color);
}

.search-box__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: #fff;
    font-size: 1.8rem;
    border-left: 1px solid var(--primary-color);
    transition: 0.3s;
}

.search-box__btn:hover {
    color: var(--hover-color);
}

.search-box__input {
    flex: 1;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

/* ++++++++++++++++++++++ right box ++++++++++++++++++++++ */
.right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 20px;
}

/* -------- hotline -------- */
.hotline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    gap: 5px;
}
.hotline__icon {
    font-size: 3rem;
    color: var(--primary-color);
    transition: 0.3s;
}

.hotline__number {
    white-space: nowrap;
    color: var(--primary-color);
    transition: 0.3s;
}

.hotline:hover .hotline__number,
.hotline:hover .hotline__icon {
    color: var(--hover-color);
}

/* -------- favorite -------- */
.favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    gap: 5px;
    position: relative;
}
.favorite__icon {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 2rem;
    transition: 0.3s;
}

.favorite__link {
    white-space: nowrap;
}

.favorite__product {
    white-space: nowrap;
    transition: 0.3s;
    color: var(--primary-color);
}

.favorite__quantity,
.shopping-cart__quantity {
    color: var(--primary-color);
    background-color: var(--hover-color);
    height: 16px;
    aspect-ratio: 1/1;
    padding: 4px;
    border-radius: 50%;
    font-size: 1.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.favorite:hover .favorite__product,
.favorite:hover .favorite__icon {
    color: var(--hover-color);
    border-color: var(--hover-color);
}
/* -------- user -------- */
.user__icon,
.shopping-cart__icon {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 2rem;
    transition: 0.3s;
}
.user:hover .user__icon {
    color: var(--hover-color);
    border-color: var(--hover-color);
}
/* -------- shopping cart -------- */
.shopping-cart {
    position: relative;
}
.shopping-cart__quantity {
    position: absolute;
    top: -4px;
    right: -4px;
    color: var(--primary-color);
    font-weight: 600;
}
.shopping-cart:hover .shopping-cart__icon {
    color: var(--hover-color);
    border-color: var(--hover-color);
}
/* -------- content -------- */
/* ++++++++++++++++++++++ box ++++++++++++++++++++++ */
/* ============================================= block  =============================================*/
/* ============================================= header-nav  =============================================*/
.header-nav {
    height: 45px;
    background-color: #fff;
}

/* ============================================= hero  =============================================*/
.hero {
    margin-top: 105px;
}


/* ============================================= Main  =============================================*/
/* ============================================= Category  =============================================*/
.category {
    margin-top: 40px;
}

.category__title {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
}

.category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    overflow: auto;
}

.category-item {
    min-width: 200px;
}
.category-item__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: hidden;
}
.category-item__img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 100;
}

.category-item__circle {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.5;
    transition: 0.3s;
}

.category-item:hover .category-item__circle {
    transform: scale(1.3);
    background-color: var(--bg-color);
}

.category-item__name {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
}

.category-item__quantity {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 5px;
}