@import url("/src/assets/css/_variables.css");
/* ============================================= main  =============================================*/
/* ============================================= payment =============================================*/

.payment {
    margin-top: 40px;
}
.payment__header {
    text-align: center;
}
.payment__icon {
    font-size: 4rem;
}
.payment__title {
    font-weight: 600;
}
.payment__desc {
    color: var(--text-color-2);
}
/* ============================================= payment content  =============================================*/
.payment__wrapper {
    margin-top: 40px;
}
.payment-info {
    padding-right: 40px;
}
.payment-info__title,
.payment-order__title {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}
.payment-info__account {
    color: var(--text-color-2);
}
.payment-info__account-btn {
    border: none;
    background-color: transparent;
    color: var(--link-hover-color);
    transition: 0.3s;
    padding: 0;
    font-weight: 600;
}
.payment-info__account-btn:hover {
    color: var(--hover-color);
}
/* -------- form -------- */
.payment-info__form {
    margin-top: 10px;
}

.payment-info__form input {
    padding: 10px;
    font-size: 1.6rem;
    box-shadow: none;
    border: 1px solid var(--text-color-2);
    border-radius: 2px;
    color: var(--text-color-2);
}
.payment-info__form input:focus {
    box-shadow: none;
    border-color: var(--hover-color);
}
/* -------- radio custom -------- */
.radio {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--text-color-2);
    padding: 10px;
    border-radius: 2px;
    font-weight: 400;
    color: var(--text-color-2);
    cursor: pointer;
}

.radio input {
    display: none;
}

.radio__shape {
    height: 20px;
    width: 20px;
    border: 1px solid var(--success-color);
    border-radius: 50%;
    cursor: pointer;
}

.radio label {
    margin: 0;
    line-height: 0;
}

.radio__price {
    flex: 1;
    text-align: right;
}

.radio__icon {
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}

.radio input:checked + .radio__shape {
    background-color: var(--success-color);
    border: 1px solid var(--success-color);
}

.radio input:checked + .radio__shape::before {
    content: "L";
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg) scaleX(-1) translate(1px, -1px);
    color: #fff;
}

.radio__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.link-btn {
    width: auto;
    padding: 0;
    background-color: transparent;
    color: var(--link-hover-color);
}
.pay-btn {
    width: auto;
    transition: 0.3s;
    padding: 5px 30px;
    text-align: center;
    background-color: var(--hover-color);
    color: #fff;
    border: 1px solid var(--hover-color);
    border-radius: 2px;
}
.pay-btn:hover {
    background-color: #ff7300;
    border: 1px solid #ff7300;
}

/* ++++++++++++++++++++++ payment-order ++++++++++++++++++++++ */
.payment-order {
    padding: 0px 20px 40px 40px;
    border-left: 1px solid #ccc;
    background-color: #f5f5f5;

}

/* ============================================= order list =============================================*/
.order-list {
    margin-top: 20px;
}
.order-item {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.order-item__link {
    position: relative;
}

.order-item__link span {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
}

.order-item__img {
    height: 60px;
    width: 60px;
    object-fit: contain;
}
.order-item__info {
    flex: 1;
}

.order-item__info small {
    color: var(--text-color-2);
}
.order-item__name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.4rem;
}

.order-item__name:hover {
    color: var(--hover-color);
}

.order-item__price {
    color: var(--hover-color-2);
}
/* -------- voucher -------- */
.payment-order__voucher {
    margin: 20px 0;
}

.voucher-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.voucher-input {
    flex: 1;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
}
.voucher-input:focus {
    outline: none;
    border: 1px solid var(--hover-color);
}
.payment-order-btn {
    height: 40px;
    white-space: nowrap;
}

/* -------- discount -------- */
.discount {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-discount {
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.offcanvas-header {
    justify-content: inherit;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.offcanvas-title {
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.voucher__list {
    flex-wrap: wrap;
}
/* -------- payment order table -------- */
.payment-order__table {
    font-weight: 400;
    width: 100%;
    margin: 20px 0;
}

.payment-order__table tr td:first-child {
    text-align: start;
    vertical-align: middle;
    color: var(--text-color-2);
}

.payment-order__table tr td:last-child {
    text-align: end;
    vertical-align: middle;
}

/* -------- payment order total  -------- */
.payment-order__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-order__total-value {
    font-size: 1.8rem;
}
.payment-order__selected {
    color: var(--text-color-2);
    margin-top: 10px;
    line-height: 1;
}
/* -------- product discount -------- */
.product__discount {
    margin-top: 10px;
    overflow: auto;
}
.product-code__list {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    min-width: 400px;
    padding: 0;
    margin-bottom: 10px;
}
.product-code__item {
    position: relative;
    overflow: hidden;
}
.product-code__item p {
    color: var(--link-hover-color);
    padding: 3px 7px;
    border-radius: 6px;
    border: 1px solid var(--link-hover-color);
    font-size: 1.4rem;
}

.product-code__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #fff;
    border: 1px solid var(--link-hover-color);
}

.product-code__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #fff;
    border: 1px solid var(--link-hover-color);
}
/* -------- content -------- */
/* ============================================= block  =============================================*/
